<ul class="acessibility-ul text-right py-1">
    <li class="acessibility-li" (click)="toggleHighContrast()" title="Ativar alto contraste">
        <i class="fas fa-adjust" title="Ativar alto contraste"></i>
    </li>
    <li class="acessibility-li" (click)="increaseFontSize()" title="Aumentar fonte">
      <span title="Aumentar fonte">A+</span>
    </li>
    <li class="acessibility-li" (click)="returnToInitialFontSize()" title="Tamanho de fonte padrão">
      <span title="Tamanho de fonte padrão">A</span>
    </li>
    <li class="acessibility-li" (click)="decreaseFontSize()" title="Diminuir fonte">
        <span title="Diminuir fonte">A-</span>
    </li>
</ul>