.btn-search {
    color: #fff;
    background-color: #00B3E5;
    border-color: #00B3E5;
    font-size: 1.25rem;
}
  
.btn-search:hover {
    color: #fff;
    background-color: #0289af;
    border-color: #0289af;
}

.input-search{
    border: 2px solid #00B3E5;
    font-size: 1.25rem;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container-results{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.title-results{
    color: #00B3E5;
    letter-spacing: .025em;
}

.container-results p, .container-results h5{
    margin-bottom: 0;
}

.container-results hr{
    margin-top: 0.25em;
    /* margin-bottom: 0; */
}