<div class="input-group container">
    <label class="sr-only">Nome do Filme</label>
    <input 
    type="text" 
    class="form-control input-search" 
    placeholder="Digite o nome do filme"
    (input)="onUpdateInput($event)">
    <div class="input-group-append">
        <button 
        class="btn btn-search" 
        type="button"
        (click)="onMovieSearch()">
            Buscar filme
        </button>
    </div>
</div>

<div *ngIf="hiddenSearchResult" class="container-results my-4">
    <h3 class="title-results">Resultados da Busca</h3>
    <div class="d-flex my-3" style="overflow-x: scroll;">
        <div class="py-2 px-2 mr-3 movie-result" *ngFor="let result of results">
            <app-movie-item [result]="result"></app-movie-item>
        </div>
    </div>
</div> 

