<app-movie-thumb [result]="result" (click)="open(moviemodal)"></app-movie-thumb>

<ng-template #moviemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="font-size: 24px;">Detalhes do filme</h4>
        <button type="button" class="close" aria-label="Fechar" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">x</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-around">
        <img 
        src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{result.poster_path}}" 
        alt="Poster do filme {{result.title}}"
        class="d-none d-lg-block"
        style="height: 278px; width: 185px;"
        onerror="this.onerror=null; this.src='https://dummyimage.com/185x278/a0a0a0/ffffff.jpg&text=Imagem+n%C3%A3o+encontrada'">
        <div class="row" style="width: 78%;">
            <div class="col-lg-3">
                <h4 style="font-size: 24px;">{{result.title}}</h4>
                <hr class="w-75 ml-0">
                <p><b>Data de lançamento: </b>{{result.release_date}}</p>
                <p><b>Gêneros: </b>{{result.genre}}</p>
                <p><b>Avaliação: </b>{{result.vote_average}}/10</p>
            </div>
            <div class="col-lg description-div">
                <p><b>Descrição: </b> {{result.overview}}</p>
            </div>
        </div>
    </div>

</ng-template>