.modal-body p{
    margin-bottom: 8px;
}
.modal-body{
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

.description-div{
    border-left: .1px solid rgba(0,0,0,.1);
}

@media (max-width: 991.98px) { 
    .description-div{
        border-left: none;
    }
    .row{
        width: 100% !important;
        padding: 8px !important;
    }
}