<div>
  <header class="my-4">
    <img src="../assets/the_movie_db.svg" alt="Logomarca da The Movie Database" class="logo-img">
  </header>

  <app-search-area></app-search-area>
  <app-discover-area *ngFor="let row of rows"></app-discover-area>

  <footer class="py-4 mt-4 d-flex align-items-center justify-content-around">
    <p>Desenvolvido por Danilo Vilhena</p>

    <ul class="icon-ul">
      <li class="icon-li">
        <a href="https://github.com/danilovilhena"><i class="fab fa-github-square"></i></a>
      </li>
      <li class="icon-li">
        <a href="https://www.instagram.com/_danilovilhena/"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="icon-li">
        <a href="https://www.linkedin.com/in/danilo-vilhena-4b150b1b0/"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </footer>
</div>

